@use './colors' as color;

button {
  border: 1px solid color.$gray;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  padding: 0.75rem 1.25rem;
  background-color: color.$light-gray;
  transition: background-color 0.25s ease;

  &:hover {
    background-color: darken($color: color.$light-gray, $amount: 2%);
  }
}
