@use './colors' as color;

table { 
	width: 100%; 
	border-collapse: collapse; 
  margin: 5rem 0;

  tr:nth-of-type(odd) { 
    background: color.$baby-gray; 
  }

  th { 
    background: color.$blue; 
    color: color.$white; 
    font-weight: bold; 
  }

  td, th { 
    padding: 1rem; 
    border: 1px solid #ccc; 
    text-align: left; 
  }

  td {
    a {
      display: block;
      text-decoration: none;
      margin-bottom: 0.5rem;
      transition: color 0.25s ease;
      color: color.$blue;

      &:last-child {
        margin-bottom: 0;
      }

      &:visited {
        color: color.$blue;
      }

      &:hover {
        color: darken($color: color.$blue, $amount: 15%);
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  table, thead, tbody, th, td, tr { 
		display: block; 
	}

	table { 
	  width: 100%; 
    margin-bottom: 3rem;

    thead {
      tr { 
        position: absolute;
        visibility: hidden;
      }
    } 

    tr { 
      border: 1px solid #ccc; 
    }

    td { 
      border: none;
      position: relative;
      padding-left: 50%; 

      &:before {
        position: absolute;
        content: attr(data-column);
        left: 1rem;
        width: 35%; 
        color: color.$black;
        font-weight: bold;
      }
    }
	}
}
