@use '../abstracts';

.filter {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 2rem;

    @media (max-width: 576px) {
      flex-direction: column;

      .search-filter {
        margin-bottom: 2rem;
      }
    }  

    .caption {
      margin-top: 0.5rem;
      font-size: 12px;
      color: abstracts.$gray;
    }
  }
}
