@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
table {
  width: 100%;
  border-collapse: collapse;
  margin: 5rem 0;
}
table tr:nth-of-type(odd) {
  background: #eee;
}
table th {
  background: #3498db;
  color: white;
  font-weight: bold;
}
table td, table th {
  padding: 1rem;
  border: 1px solid #ccc;
  text-align: left;
}
table td a {
  display: block;
  text-decoration: none;
  margin-bottom: 0.5rem;
  transition: color 0.25s ease;
  color: #3498db;
}
table td a:last-child {
  margin-bottom: 0;
}
table td a:visited {
  color: #3498db;
}
table td a:hover {
  color: #1d6fa5;
}

@media only screen and (max-width: 800px) {
  table, thead, tbody, th, td, tr {
    display: block;
  }

  table {
    width: 100%;
    margin-bottom: 3rem;
  }
  table thead tr {
    position: absolute;
    visibility: hidden;
  }
  table tr {
    border: 1px solid #ccc;
  }
  table td {
    border: none;
    position: relative;
    padding-left: 50%;
  }
  table td:before {
    position: absolute;
    content: attr(data-column);
    left: 1rem;
    width: 35%;
    color: #141414;
    font-weight: bold;
  }
}
button {
  border: 1px solid #a39d9d;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  padding: 0.75rem 1.25rem;
  background-color: #f8f5f5;
  transition: background-color 0.25s ease;
}
button:hover {
  background-color: #f4efef;
}

.back-button {
  margin-top: 5rem;
}

.house__detail {
  margin-top: 2rem;
}
.house__detail strong {
  font-size: 1.25rem;
}
.house__detail > div {
  margin-top: 0.5rem;
}

html {
  overflow-y: scroll;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comfortaa", cursive;
}

.container {
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 800px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 940px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1150px;
  }
}
